<ion-view view-title="sign in">
    <ion-content class="has-header padding">
        <div class="list">
            <div class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </div>
            <div class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </div>
            <div class="item">
                <button class="button button-block button-light" ng-click="login('password')">Sign In</button>
            </div>
            <div class="item">
                <button class="button button-block button-positive" ng-click="login('facebook')">Sign In with Facebook</button>
            </div>
            <div class="item">
                <button class="button button-block button-positive" ng-click="login('twitter')">Sign In with Twitter</button>
            </div>
        </div>
    </ion-content>
</ion-view>