<ion-view view-title="parking map">
    <ion-content padding="true">
            <div id="map_canvas" ng-controller="MapCtrl">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idKey="marker.id" />
                </ui-gmap-google-map>
            </div>
            <div class="item">
                <button class="button button-block button-calm" ng-click="parking_left()">Left!</button>
                <button class="button button-block button-positive" ng-click="parking_parked()">Parked!</button>
            </div>
    </ion-content>
</ion-view>