<ion-view view-title="parking map">
    <ion-content padding="true">
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-log-in"></i>
                <p>
                    address
                </p>
                <p>
                    date
                </p>
                <p>
                    status
                </p>
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-log-out"></i>
                <p>
                    address
                </p>
                <p>
                    date
                </p>
                <p>
                    status
                </p>
            </a>

        </div>
    </ion-content>
</ion-view>