<ion-view view-title="parking status">
    <ion-content class="has-header padding" has-tabs="true">
        <div class="row">
            <div class="col">
                Congrats!
            </div>
            <div class="col">
                You parked!
            </div>
         </div>
        <div class="row">
            <div class="col">
                Total time:
            </div>
            <div class="col">
                00:00
            </div>
        </div>
        <div class="row">
                <button class="button button-block button-assertive" ng-click="parkingLeft()">Stop</button>
        </div>
    </ion-content>
</ion-view>