<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.findparkmobileapp379748" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FindParkMobileApp</name>
  <description>
      findPark is a mobile app which aim is to help people on finding parking in big cities.
    </description>
  <author email="riccardo.lorenzon@gmail.com" href="riccardolorenzon.github.io">
      riccardo lorenzon
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>